<html>
<head>
    <title>Chopsticks Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
    <header>
        <h1>Chopsticks Game: Player vs. ThetaBot</h1>
    </header>
    <hr/>
    <section class="bot">
        <h2>ThetaBot's Hands</h2>
        <div class="hands">
            <div class="hand"></div>
            <div class="hand"></div>
        </div>
    </section>
    <hr/>
    <section class="human">
        <h2>Player's Hands</h2>
        <div class="hands">
            <div class="hand"></div>
            <div class="hand"></div>
        </div>
    </section>
    <hr/>
    <section class="actions">
        <div class="hit_actions">
            <div class="player_left">
                Player's Left Hand
                <button class="hit_left" data-move="h,2,1,1">Hit Left</button>
                <button class="hit_right" data-move="h,2,1,2">Hit Right</button>
            </div>
            <div class="player_right">
                Player's Right Hand
                <button class="hit_left" data-move="h,2,2,1">Hit Left</button>
                <button class="hit_right" data-move="h,2,2,2">Hit Right</button>
            </div>
        </div>
        <div class="split_actions">
            Split
            <button class="left_0" data-move="s,1,2,0,?" data-left="0">Left: 0</button>
            <button class="left_1" data-move="s,1,2,1,?" data-left="1">Left: 1</button>
            <button class="left_2" data-move="s,1,2,2,?" data-left="2">Left: 2</button>
            <button class="left_3" data-move="s,1,2,3,?" data-left="3">Left: 3</button>
            <button class="left_4" data-move="s,1,2,4,?" data-left="4">Left: 4</button>
        </div>
    </section>
    <hr/>
    <footer class="status">
    </footer>
    <hr/>
    <div>
        <button id="restart_game">Restart Game</button>
    </div>
</body>
</html>
